In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2022.7.25)
Requirement already satisfied: joblib in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: colorama in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\this
[nltk_data]     pc\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [6]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

NameError: name 'pd' is not defined

In [7]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.3-cp310-cp310-win_amd64.whl (10.5 MB)
     ---------------------------------------- 10.5/10.5 MB 4.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     -------------------------------------- 503.5/503.5 kB 3.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.3 pytz-2022.1

In [8]:
import pandas as pd

In [9]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("true.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Fake.csv'

In [10]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("true.csv")

C:\Users\this pc\AppData\Local\Temp\ipykernel_19424\1400619036.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv("Fake.csv")

In [11]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

C:\Users\this pc\AppData\Local\Temp\ipykernel_19424\3118340376.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake = pd.read_csv("Fake.csv")

In [12]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23502 entries, 0 to 23501
Columns: 172 entries, title to Unnamed: 171
dtypes: object(172)
memory usage: 30.8+ MB

None

In [13]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [14]:
display(fake.head())
display(genuine.head())

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [15]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News                                                                                                                                                                                                                                                                                            9050
politics                                                                                                                                                                                                                                                                                        6838
left-news                                                                                                                                                                                                                                                                                       4457
Government News                                                                                                                                                                                                                                                                                 1570
US_News                                                                                                                                                                                                                                                                                          775
Middle-east                                                                                                                                                                                                                                                                                      770
 high taxes                                                                                                                                                                                                                                                                                        2
 claimed that hundreds of alternative media websites were producing  fake news  and  conspiracy  stories and therefore were unreliable as information sources. It wasn t long before the establishment began referencing these politicized lists                                                   2
 of which Soros is a major financier.Mercy Corps: Vis a vis the Arab-Israeli conflict                                                                                                                                                                                                              2
 and so is Mr. Katzenbach                                                                                                                                                                                                                                                                          2
 fell 5.6 percent Monday. Wynn Resortsslipped 1.2 percent. Las Vegas Sands fell as much as 2.1 percent before closing higher.   LIVE DRILL    Las Vegas has been at the forefront of active shooter training. ( Image Source: sinclairstoryline)Las Vegas Active Shooter Drills Back in 2014       2
 state systems with outsized pretensions to power have reacted to their environments in two ways. The first strategy                                                                                                                                                                               2
 decided not to seek re-election. While much of the mainstream media waxed poetic about his 30-year career                                                                                                                                                                                         2
 the defense industry                                                                                                                                                                                                                                                                              2
 Karl Marx is either a villain or a hero of social engineering                                                                                                                                                                                                                                     2
 a future nuclear family                                                                                                                                                                                                                                                                           2
 Politics According to the Bible and (with Barry Asmus) The Poverty of Nations: A Sustainable Solution.Via: Townhall"                                                                                                                                                                              1
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [16]:
fake['target'] = 0
genuine['target'] = 1

In [17]:
display(fake.head())

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [18]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [19]:
data = pd.concat([fake, genuine], axis=0)

In [20]:
data = data.reset_index(drop=True)

In [21]:
data = data.drop(['subject', 'date', 'title'], axis=1)

In [22]:
print(data.columns)
print(data)

Index(['text', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       ...
       'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166',
       'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170',
       'Unnamed: 171', 'target'],
      dtype='object', length=170)
                                                    text Unnamed: 4  \
0      Donald Trump just couldn t wish all Americans ...        NaN
1      House Intelligence Committee Chairman Devin Nu...        NaN
2      On Friday, it was revealed that former Milwauk...        NaN
3      On Christmas day, Donald Trump announced that ...        NaN
4      Pope Francis used his annual Christmas Day mes...        NaN
...                                                  ...        ...
44914  BRUSSELS (Reuters) - NATO allies on Tuesday we...        NaN
44915  LONDON (Reuters) - LexisNexis, a provider of l...        NaN
44916  MINSK (Reuters) - In the shadow of disused Sov...        NaN
44917  MOSCOW (Reuters) - Vatican Secretary of State ...        NaN
44918  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...        NaN

      Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0            NaN        NaN        NaN        NaN        NaN         NaN
1            NaN        NaN        NaN        NaN        NaN         NaN
2            NaN        NaN        NaN        NaN        NaN         NaN
3            NaN        NaN        NaN        NaN        NaN         NaN
4            NaN        NaN        NaN        NaN        NaN         NaN
...          ...        ...        ...        ...        ...         ...
44914        NaN        NaN        NaN        NaN        NaN         NaN
44915        NaN        NaN        NaN        NaN        NaN         NaN
44916        NaN        NaN        NaN        NaN        NaN         NaN
44917        NaN        NaN        NaN        NaN        NaN         NaN
44918        NaN        NaN        NaN        NaN        NaN         NaN

      Unnamed: 11 Unnamed: 12  ... Unnamed: 163 Unnamed: 164 Unnamed: 165  \
0             NaN         NaN  ...          NaN          NaN          NaN
1             NaN         NaN  ...          NaN          NaN          NaN
2             NaN         NaN  ...          NaN          NaN          NaN
3             NaN         NaN  ...          NaN          NaN          NaN
4             NaN         NaN  ...          NaN          NaN          NaN
...           ...         ...  ...          ...          ...          ...
44914         NaN         NaN  ...          NaN          NaN          NaN
44915         NaN         NaN  ...          NaN          NaN          NaN
44916         NaN         NaN  ...          NaN          NaN          NaN
44917         NaN         NaN  ...          NaN          NaN          NaN
44918         NaN         NaN  ...          NaN          NaN          NaN

      Unnamed: 166 Unnamed: 167 Unnamed: 168 Unnamed: 169 Unnamed: 170  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
44914          NaN          NaN          NaN          NaN          NaN
44915          NaN          NaN          NaN          NaN          NaN
44916          NaN          NaN          NaN          NaN          NaN
44917          NaN          NaN          NaN          NaN          NaN
44918          NaN          NaN          NaN          NaN          NaN

      Unnamed: 171 target
0              NaN      0
1              NaN      0
2              NaN      0
3              NaN      0
4              NaN      0
...            ...    ...
44914          NaN      1
44915          NaN      1
44916          NaN      1
44917          NaN      1
44918          NaN      1

[44919 rows x 170 columns]

In [23]:
data = data.drop(['Unnamed: 4'], axis=1)

In [24]:
print(data.columns)
print(data)

Index(['text', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13',
       ...
       'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166',
       'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170',
       'Unnamed: 171', 'target'],
      dtype='object', length=169)
                                                    text Unnamed: 5  \
0      Donald Trump just couldn t wish all Americans ...        NaN
1      House Intelligence Committee Chairman Devin Nu...        NaN
2      On Friday, it was revealed that former Milwauk...        NaN
3      On Christmas day, Donald Trump announced that ...        NaN
4      Pope Francis used his annual Christmas Day mes...        NaN
...                                                  ...        ...
44914  BRUSSELS (Reuters) - NATO allies on Tuesday we...        NaN
44915  LONDON (Reuters) - LexisNexis, a provider of l...        NaN
44916  MINSK (Reuters) - In the shadow of disused Sov...        NaN
44917  MOSCOW (Reuters) - Vatican Secretary of State ...        NaN
44918  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...        NaN

      Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
0            NaN        NaN        NaN        NaN         NaN         NaN
1            NaN        NaN        NaN        NaN         NaN         NaN
2            NaN        NaN        NaN        NaN         NaN         NaN
3            NaN        NaN        NaN        NaN         NaN         NaN
4            NaN        NaN        NaN        NaN         NaN         NaN
...          ...        ...        ...        ...         ...         ...
44914        NaN        NaN        NaN        NaN         NaN         NaN
44915        NaN        NaN        NaN        NaN         NaN         NaN
44916        NaN        NaN        NaN        NaN         NaN         NaN
44917        NaN        NaN        NaN        NaN         NaN         NaN
44918        NaN        NaN        NaN        NaN         NaN         NaN

      Unnamed: 12 Unnamed: 13  ... Unnamed: 163 Unnamed: 164 Unnamed: 165  \
0             NaN         NaN  ...          NaN          NaN          NaN
1             NaN         NaN  ...          NaN          NaN          NaN
2             NaN         NaN  ...          NaN          NaN          NaN
3             NaN         NaN  ...          NaN          NaN          NaN
4             NaN         NaN  ...          NaN          NaN          NaN
...           ...         ...  ...          ...          ...          ...
44914         NaN         NaN  ...          NaN          NaN          NaN
44915         NaN         NaN  ...          NaN          NaN          NaN
44916         NaN         NaN  ...          NaN          NaN          NaN
44917         NaN         NaN  ...          NaN          NaN          NaN
44918         NaN         NaN  ...          NaN          NaN          NaN

      Unnamed: 166 Unnamed: 167 Unnamed: 168 Unnamed: 169 Unnamed: 170  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
44914          NaN          NaN          NaN          NaN          NaN
44915          NaN          NaN          NaN          NaN          NaN
44916          NaN          NaN          NaN          NaN          NaN
44917          NaN          NaN          NaN          NaN          NaN
44918          NaN          NaN          NaN          NaN          NaN

      Unnamed: 171 target
0              NaN      0
1              NaN      0
2              NaN      0
3              NaN      0
4              NaN      0
...            ...    ...
44914          NaN      1
44915          NaN      1
44916          NaN      1
44917          NaN      1
44918          NaN      1

[44919 rows x 169 columns]

In [26]:
data = data.drop(['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 41', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 91', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90'], axis=1)

In [27]:
print(data.columns)
print(data)

Index(['text', 'Unnamed: 40', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94',
       'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98',
       'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102',
       'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106',
       'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110',
       'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114',
       'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118',
       'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122',
       'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126',
       'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130',
       'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134',
       'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138',
       'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142',
       'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146',
       'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150',
       'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154',
       'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158',
       'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162',
       'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166',
       'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170',
       'Unnamed: 171', 'target'],
      dtype='object')
                                                    text Unnamed: 40  \
0      Donald Trump just couldn t wish all Americans ...         NaN
1      House Intelligence Committee Chairman Devin Nu...         NaN
2      On Friday, it was revealed that former Milwauk...         NaN
3      On Christmas day, Donald Trump announced that ...         NaN
4      Pope Francis used his annual Christmas Day mes...         NaN
...                                                  ...         ...
44914  BRUSSELS (Reuters) - NATO allies on Tuesday we...         NaN
44915  LONDON (Reuters) - LexisNexis, a provider of l...         NaN
44916  MINSK (Reuters) - In the shadow of disused Sov...         NaN
44917  MOSCOW (Reuters) - Vatican Secretary of State ...         NaN
44918  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...         NaN

      Unnamed: 92 Unnamed: 93 Unnamed: 94 Unnamed: 95 Unnamed: 96 Unnamed: 97  \
0             NaN         NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN         NaN
2             NaN         NaN         NaN         NaN         NaN         NaN
3             NaN         NaN         NaN         NaN         NaN         NaN
4             NaN         NaN         NaN         NaN         NaN         NaN
...           ...         ...         ...         ...         ...         ...
44914         NaN         NaN         NaN         NaN         NaN         NaN
44915         NaN         NaN         NaN         NaN         NaN         NaN
44916         NaN         NaN         NaN         NaN         NaN         NaN
44917         NaN         NaN         NaN         NaN         NaN         NaN
44918         NaN         NaN         NaN         NaN         NaN         NaN

      Unnamed: 98 Unnamed: 99  ... Unnamed: 163 Unnamed: 164 Unnamed: 165  \
0             NaN         NaN  ...          NaN          NaN          NaN
1             NaN         NaN  ...          NaN          NaN          NaN
2             NaN         NaN  ...          NaN          NaN          NaN
3             NaN         NaN  ...          NaN          NaN          NaN
4             NaN         NaN  ...          NaN          NaN          NaN
...           ...         ...  ...          ...          ...          ...
44914         NaN         NaN  ...          NaN          NaN          NaN
44915         NaN         NaN  ...          NaN          NaN          NaN
44916         NaN         NaN  ...          NaN          NaN          NaN
44917         NaN         NaN  ...          NaN          NaN          NaN
44918         NaN         NaN  ...          NaN          NaN          NaN

      Unnamed: 166 Unnamed: 167 Unnamed: 168 Unnamed: 169 Unnamed: 170  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
44914          NaN          NaN          NaN          NaN          NaN
44915          NaN          NaN          NaN          NaN          NaN
44916          NaN          NaN          NaN          NaN          NaN
44917          NaN          NaN          NaN          NaN          NaN
44918          NaN          NaN          NaN          NaN          NaN

      Unnamed: 171 target
0              NaN      0
1              NaN      0
2              NaN      0
3              NaN      0
4              NaN      0
...            ...    ...
44914          NaN      1
44915          NaN      1
44916          NaN      1
44917          NaN      1
44918          NaN      1

[44919 rows x 83 columns]

In [28]:
data = data.drop(['Unnamed: 40', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94',
       'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98',
       'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102',
       'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106',
       'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110',
       'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114',
       'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118',
       'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122',
       'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126',
       'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130',
       'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134',
       'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138',
       'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142',
       'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146',
       'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150',
       'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154',
       'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158',
       'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162',
       'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166',
       'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170',
       'Unnamed: 171'], axis=1)

In [29]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44914  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44915  LONDON (Reuters) - LexisNexis, a provider of l...       1
44916  MINSK (Reuters) - In the shadow of disused Sov...       1
44917  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44918  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44919 rows x 2 columns]

In [30]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [31]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [32]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [33]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [34]:
data['text']=data['text'].apply(stem_it)

In [35]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [36]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

[nltk_data] Downloading package stopwords to C:\Users\this
[nltk_data]     pc\AppData\Roaming\nltk_data...

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data]   Unzipping corpora\stopwords.zip.

In [37]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [38]:
data['text']=data['text'].apply(stop_it)

In [39]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [40]:
data['text']=data['text'].apply(' '.join)

In [43]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.9.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\this pc\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.22.3)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

61       breitbart news editor tri use song ringo starr...
11536    van jone prais presid trump for honor the wido...
5061     while often useless talk about thing politicia...
37049    ankara reuter turkish presid tayyip erdogan an...
19777    hillari such champion gay right that her campa...
Name: text, dtype: object

61       0
11536    0
5061     0
37049    1
19777    0
Name: target, dtype: int64

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [49]:
print(tfidf_train)

  (0, 18139)	0.033489013534862354
  (0, 73480)	0.03483517235003917
  (0, 87097)	0.02002032925647212
  (0, 41151)	0.021298867135166204
  (0, 55791)	0.06361422119275274
  (0, 79413)	0.018889849280273565
  (0, 78748)	0.0298716317469583
  (0, 61595)	0.015613072297084743
  (0, 21355)	0.0202551652072807
  (0, 75735)	0.020716602274910383
  (0, 82720)	0.026730335904979863
  (0, 83647)	0.01455343618368231
  (0, 26913)	0.016130737856506774
  (0, 30871)	0.025403303666266728
  (0, 81868)	0.03083476877285858
  (0, 44999)	0.01792519738979798
  (0, 39274)	0.03021818460052766
  (0, 16738)	0.07628972492648625
  (0, 19552)	0.07121874849061433
  (0, 75207)	0.020300302726365464
  (0, 76874)	0.030897209140598146
  (0, 19588)	0.08811963853819103
  (0, 15835)	0.04806006415887143
  (0, 25885)	0.027835098324941784
  (0, 12706)	0.08376051888129858
  :	:
  (33688, 7620)	0.04977857069073777
  (33688, 16799)	0.4987122890512964
  (33688, 20368)	0.12339319818153016
  (33688, 81716)	0.08305091555677117
  (33688, 9624)	0.05454589106089477
  (33688, 90078)	0.0555159585756198
  (33688, 54148)	0.1454449627073106
  (33688, 81791)	0.029183996952881885
  (33688, 60904)	0.06818137019943205
  (33688, 59479)	0.027896002017546988
  (33688, 23528)	0.0633998086728393
  (33688, 10215)	0.055333263829340236
  (33688, 52217)	0.14089475871462048
  (33688, 63424)	0.03716241335896537
  (33688, 72842)	0.03657798622978206
  (33688, 65811)	0.033055209274217935
  (33688, 79413)	0.1337425387279441
  (33688, 83647)	0.1373869089542117
  (33688, 26913)	0.11420767844543268
  (33688, 33512)	0.05648503071053035
  (33688, 91049)	0.03690515258040499
  (33688, 7445)	0.03344954961453398
  (33688, 9637)	0.045574719461049705
  (33688, 24383)	0.04652247679118665
  (33688, 51678)	0.04238344491570951

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [53]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.82457702582369

In [54]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [55]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.67052537845058